DEBUG=1
SECRET_KEY=STRONG_KEY_HERE
DJANGO_ALLOWED_HOSTS="localhost 127.0.0.1 [::1]"
DB_ENGINE=django.db.backends.postgresql
DB_DATABASE=space-threads
DB_USER=astronauts-team
DB_PASSWORD=PASSWORD_HERE
DB_HOST=LINK_HERE
DB_PORT=5432
